@media screen and (max-width:576px) {
    .bar-icon{
        display: block;
        margin-top: 7px;
        color: white;
    }
    nav ul{
        display: none;
    }
    nav{
        margin: 0px;
    }
    .description{
        flex-direction: column;
    }
    .des-section,
.des-sectionTwo {
    width: 100%;
}
}