@media screen and (max-width:576px) {
    .bar-icon {
        display: block;
        margin-top: 7px;
        color: white;
    }

    nav ul {
        display: none;
    }

    nav {
        margin: 0px;
    }

    .description {
        flex-direction: column;
    }

    .des-section,
    .des-sectionTwo {
        width: 100%;
    }
    .habit-template{
        grid-template-columns: repeat(1, 1fr);
    }
    .template{
        width: 80%;
        margin: 10px auto;
    }
    .run-section{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        gap: 20px;
    }
    .run-des, .run-img {
        width: 100%;
    }
    .BMI-chart{
        flex-direction: column;
    }
    .BMI-chart2{
        margin-left:0;
    }
    .BMI-div{
        width: 100%;
        margin: 0;
    }
    /* Meet section */
    .meet-sec-img{
        grid-template-columns: repeat(1, 1fr);

    }
    .meet-grid{
        /* display: flex;
        justify-content: center; */
        width: 100%;
    }
}